<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <header>
    <aside id="header__aside__infos">
      <span>Entregas apenas na cidade de Pesqueira-PE</span>
      <a href="tel:+5587991228725">
        <i class="fa-solid fa-phone"></i>
        (87) 9 9122-8725
      </a>
    </aside>
    <nav id="header__navigation__top">
      <div id="header__logo">
        <img src="" alt="logomarca">
      </div>
      <div id="navigation__top__search">
        <input id="search__input" type="text" name="" id="">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>

      <div id="navigation__top__socialmedia">
        <a href="" target="_blank" rel="whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="" target="_blank" rel="facebook">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="" target="_blank" rel="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" target="_blank" rel="linkedin">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </div>
    </nav>

    <nav id="header__navigation__bottom">
      <div class="navigation__bottom__links">
        <a href="">Pedidos</a>
        <a href="">Delivery</a>
        <a href="">Encomendas</a>
        <a href="">Catálogo</a>
      </div>

      <div class="navigation__bottom__acess">
        <div id="acess__btns">
          <a class="acess__btn__login" href="">
            <span id="btn__login__icon">
              <i class="fa-solid fa-user"></i>
            </span>
            <span id="btn__login__msg">Olá, faça seu login ou cadastre-se <i data-target
                class="fa-solid fa-angle-down"></i></span>
          </a>

          <div id="acess__menu">
            <div id="triangle__indicator"></div>
            <span id="acess__menu__span">
              Insira as suas credenciais para uma melhor experiência.
            </span>

            <div id="acess__menu__btns">
              <a href="">entrar</a>
              <a href="">cadastrar</a>
            </div>
          </div>
        </div>
        <a class="acess__btn__painel" href="">Painel</a>
        <a class="acess__btn__cart" href=""><i class="fa-solid fa-cart-arrow-down"></i></a>
        <a class="acess__btn__logout" href="">Sair</a>
      </div>

    </nav>
  </header>

  <main id="home__main">
    <section id="home__main__banners">
      <div id="banners__btns__radios">
        <input type="radio" name="" id="btns__radios" checked>
        <input type="radio" name="" id="btns__radios">
        <input type="radio" name="" id="btns__radios">
      </div>
    </section>
    <section id="home__main__slider">
      <div>
        <button class="slider__btn">Esq</button>
      </div>
      <div id="slider__wrapper__slider">
        <div id="slider__element__list">

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>
          
          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>

          <div class="element__list__container">
            <div class="element">

            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="slider__btn">Dir</button>
      </div>
    </section>
  </main>
  <script src="../assets/js/dom/home/header-login.js"></script>
  <script src="../assets/js/dom/home/banners-inputs-radios.js"></script>

  <script src="../assets/js/dom/home/slider-btns.js"></script>

  <script src="https://kit.fontawesome.com/4df89de1f1.js" crossorigin="anonymous"></script>

  <script type="module" src="src/controllers/products/controllers-products-list.js"></script>

</body>

</html>