#destaque_texto:not(h1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--preto);

    color: white;

    padding-top: 200px;
    height: 250px;
    width: 100%;


}

#destaque_texto h1 {
    
    font-size: 90px;
    filter:brightness(120%);
    font-family: 'Gemunu Libre', sans-serif;
    white-space: nowrap; /*não quebra linha*/
    overflow: hidden;  /*se não tem largura, fique escondido*/
}

#destaque_texto #span1 {
    color: var(--amarelo_claro);
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 27px;
}

#destaque_texto #carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 250px;
}

#destaque_texto #linguagens {
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);

}

#destaque_texto #linguagens .icone_linguagens {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

#destaque_texto #linguagens i {
    font-size: 60px;
    margin: 10px;
}

#destaque_texto #linguagens span {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 22px;
}