#home__main__products__bestsales {
    
    #products__bestsales__titulo {
        margin-left: 25px;
    }

    #products__bestsales__list {
        align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

        .bestsales__list__element {
            display: flex;
            align-items: center;
            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 32%);
            flex-direction: column;
            height: 320px;
            justify-content: space-evenly;
            margin: 10px;
            transition: .4s;
            width: 200px;

            &:nth-of-type(n+6) {
                display: none;
            }

            &:hover {
                transform: scale(105%);
            }

            .element__img {
                height: 150px;
                width: 180px;
                background-color: black;
            }

            .element__info {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 105px;
                width: 180px;

                .element__info__title {
                    color: gray;
                    font-size: 13px;
                    overflow: hidden;
                }

                .element__info__rate {
                    .fa-solid {
                        color: rgb(242, 200, 50);
                        font-size: 13px;
                    }
                }

                .element__info__price {
                    font-size: 15px;
                    font-weight: bold;
                }

                .element__info__installment {
                    font-size: 13px;
                }
            }
        }
    }
}