#home__main__slider {
  align-items: center;
  border-bottom: 3px solid $cor2;
  display: flex;
  justify-content: space-evenly;
  height: 180px;

  .slider__btn {
    align-items: center;
    background-color: $cor2;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: 30px;
    outline: none;
    width: 30px;

    &:hover {
      background-color: $cor0;
    }

    .fa-solid {
      color: white;
      font-size: 19px;
    }
  }

  #slider__wrapper__slider {
    height: 80%;
    overflow: hidden;
    width: 80%;

    #slider__element__list {
      align-items: center;
      display: flex;
      justify-content: space-evenly;

      height: 100%;
      width: 230%;

      .element__list__container {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 70%;
        width: 100px;

        .element {
          align-items: center;
          display: flex;
          justify-content: center;
          background-color: $cor2;
          
          border-radius: 100%;
          height: 90%;
          width: 90%;
        }
      }
    }
  }
}
